@import '../../style/_colors.scss';

#description-section {
  display: grid;
  grid-template: 100% / 40% auto;

  #description-section__left-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    #victory-text-title {
      position: absolute;
      color: $bg-gray-900;
      top: 35%;
      text-align: center;
      font-size: 0.975rem;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
    }
    #robot-sumo-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      color: $bg-gray-900;
      width: 400px;
      height: 400px;
      border-radius: 250px;
      //border: 1px solid $bg-gray-900;
      box-shadow: 0 0 5px $bg-gray-900,  0 0 5px $bg-gray-900 ;

      .robot-sumo-circle__robot-icon {
        font-size: 3.25rem;
        transition: color 0.5s ease;
        z-index: 5;
        &:hover {
          color: $bg-gray-800;
        }
      }
      .robot-item1 {
        animation: 5s linear robot-first-move infinite;
      }

      .robot-item2 {
        animation: 5s linear robot-second-move infinite;
      }
      #robot-sumo-circle__square {
        height: 100px;
        width: 150px;
        border-left: 2px solid $bg-gray-900;;
        border-right: 2px solid $bg-gray-900;;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
          content: "";
          height: 10px;
          width: 10px;
          background: white;
          border-radius: 150px;
        }
      }

    }

    .circle-in-view {
      animation: 1.5s appear-effect ease;
    }
  }

  #description-section__right-block {
    display: grid;
    grid-template: auto 10% / 100%;

    #description-section__right-block__text-box {
      font-weight: 300;
      font-size: 1.125rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
    }

    #description-section__right-block__buttons-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 5rem;

      #buttons-box {
        display: flex;
        gap: 1rem;

        button {
          padding: 0.5rem 1.5rem;
          outline: none;
          border: none;
          color: white;
          border-radius: 0.25rem;
          font-size: 1.0125rem;
          font-family: "Roboto", sans-serif;
          transition: background 1s ease ;
          cursor: pointer;
        }

        #prev-description-button {
          background: $bg-gray-500;

          &:hover {
            background: $bg-gray-600;
          }
        }

        #next-description-button {
          background: $bg-gray-600;

          &:hover {
            background: $bg-gray-700;
          }
        }
      }
    }
  }
}


@keyframes appear-effect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes robot-first-move {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(75px);
  }
  50% {
    transform: translateX(-125px);
  }
  75% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes robot-second-move {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(-150px);
  }
  60% {
    transform: translateX(-250px);
  }
  100% {
    transform: translateX(0px);
  }
}


