@import './_colors.scss';
@import './_variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    transition: background 0.5s ease;
    background: $bg-blue-500;
    border-radius: 12px;
  }

  ::-webkit-scrollbar-track-piece {
    background: $bg-blue-900;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $bg-blue-600;
  }

}

html {
  font-size: $gb-font-size;
}

body {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  background: white;
  #root {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-rows: 100vh;
  }
}